a {
	text-decoration: none;
	color: #fff333;
	transition: 0.3s ease;
}

a:hover {
	color: #19a0e3;
}

body {
	background: url(fond.png);
	font-family: Orbitron, Bahnschrift;
	color: #fff333;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}

button {
	font-family: Orbitron;
	padding: 1%;
	background-color: #5f5f5f;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease;
	color: #fff333;
}

button:hover {
	background-color: #19a0e3;
}

#div-fond-logo {
	background: #ffffff;
	width: 25%;
	border-radius: 10px;
	padding-top: 0.2%;
}

footer {
	margin-top: 1%;
	background-color: #5f5f5f;
	border-radius: 20px;
}

h1:before, h1:after, h2:before, h2:after {
	content: "";
	display: block;
	border-top: 1.5px solid #fff333;
	margin-top: 1%;
	margin-bottom: 1%;
}

hr {
	height: 1.5px;
	background-color: #fff333;
	border: 0;
}

input {
	font-family: Orbitron;
	padding: 1%;
	margin-bottom: 1%;
	background-color: #5f5f5f;
	border: 0;
	color: #fff333;
	border-radius: 10px;
}

iframe {
	width: 100%;
	border: 0;
	padding: 1%;
}
footer iframe {
	aspect-ratio: 20 / 1;
}

#img-logo {
	width: 80%
}

table {
	width: 75%;
	margin: auto;
}
#table-header {
	width: 100%;
}

th {
	font-size: 125%;
}

td {
	font-style: italic;
}