a {
	text-decoration: none;
	color: #fff333;
	transition: 0.3s ease;
	font-style: italic;
}

a:hover {
	color: #19a0e3;
}

body {
	background: url(images/fond.png) center fixed repeat-y;
	font-family: orbitron, bahnschrift, sans-serif;
	color: #fff333;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	font-size: 100%;
}
#body-transparent {background: transparent;}

button {
	font-family: Orbitron;
	padding: 1%;
	background: transparent;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s ease;
	color: #fff333;
	font-style: italic;
	text-shadow: 1px 1px 1px #000000;
}

button:hover {
	background-color: #19a0e3;
}

#div-contenu {
	margin-right: 5%;
	margin-left: 5%;
}

footer {background-color: #5f5f5f;}

h1:before, h1:after,
h2:before, h2:after
{
	content: "";
	display: block;
	border-top: 1.5px solid #fff333;
	margin-top: 1%;
	margin-bottom: 1%;
}

hr {
	height: 1.5px;
	background-color: #fff333;
	border: 0;
}

input {
	font-family: Orbitron;
	padding: 1%;
	margin-bottom: 1%;
	background-color: #5f5f5f;
	border: 0;
	color: #fff333;
	border-radius: 10px;
}

iframe {
	width: 100%;
	border: 0;
}

#img-logo {
	width: 200px;
}

table {
	margin: auto;
}
